{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}


    <h2> Internationalization {{ .Id }} </h2>
      <p>Code: {{ .Code }}</p>
      <p>ZhCn: {{ .ZhCn }}</p>
      <p>UsEn: {{ .UsEn }}</p>
      <p>Project: {{ .Project }}</p>
      <p>CreatedAt: {{ .CreatedAt }}</p>
      <p>UpdatedAt: {{ .UpdatedAt }}</p><br /> <a href="/edit?id={{ .Id }}">Edit</a></p>
  {{ template "Footer" }}
{{ end }}
